<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2" android:versionName="1.2.1" package="com.byErudito.wordinenglish" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />
	<application android:label="Words In English" android:theme="@style/MainTheme">
		<meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-7633493507240683~1694073976" />
		<meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@android:drawable/ic_menu_save" />
	</application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.vending.BILLING" />
	<uses-permission android:name="android.permission.INTERNET" />
</manifest>